.clearfix:after {
display: table;
clear: both;
     }

.placeholder {
	border: 1px solid black;
	background: rgba(255, 255, 255,.6);
	padding: 20px;
	height: 150px;
	margin: 10px;
}

/* HEADER */
.hdcontainer{
	width: 100%;
	height: 20%;
	overflow: auto;
	padding-bottom: 20px;
	padding-left: 0;
}

.toplogo{
	width: 25%;
	float: left;
	margin-top: 20px;
	background: yellow;
	padding-top: 70px;
	text-align: center;
	border: 1px solid black;
}

.topnav{
	width: 50%;
	float: right;
	overflow: auto;
	margin-top: 40px;
}

.topnav ul{
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
}
.hdnavul li{
	display: inline-block;	
	padding: 10px;
	margin-right: 10px;
	width: 70px;
	border: 1px solid black;
	background: yellow;
}


/* MAIN */
.mncontainer{
	width: 100%;
	background: blue;
	padding-top: 120px;
	padding-bottom: 120px;
	border: 1px solid black;
	text-align: center;

}	

.mnarticlesall3{
	width: 100%;
	text-align:center;
}

.article1{
    width:30%;
    height:150px;
    background-color:red;
    display:inline-block;
    margin-right:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article2{
    width:30%;
    height:150px;
    display:inline-block;
    background-color:blue;
    margin-right:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article3{
    width:30%;
    height:150px;
    background-color:green;
    display:inline-block;
    margin-right:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* FOOTER */
.ftcontainer{
	width: 100%;
	height:150px;
	background-color:yellow;
	display:inline-block;
	clear: both;
	overflow: auto;
	text-align:center;
}